header {
	background: white;
	background-image: url("../images/logo.png");
	background-position-x: 20px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
}
