header {
	background: white;
	background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
	background-position-x: 20px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
}